.layout-footer {
    transition: margin-left $transitionDuration;
    font-weight: 400;
    font-size: 20px;
    color: var(--gray-400);
    background-color: var(--surface-c);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 9rem 3rem 9rem;
    border-top: 1px solid var(--surface-border);
    .footer-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--gray-400);
        .content-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            .footer-logo {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 166px;
            }
            .footer-logo > img {
                width: 100%;
            }
        }
        .footer-separator {
            height: 1px;
            background-color: var(--surface-200);
            margin: 2.5rem 0;
        }
        .footer-copyright {
            font-weight: 600;
            text-align: right;
        }
    }
}
@media (max-width: 890px) {
    .layout-footer {
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem 1.5rem 3rem 1.5rem;
        .footer-content {
            .content-top {
                flex-direction: column;
                align-items: start;
                .footer-logo {
                    align-items: end;
                    width: 100%;
                }
                .footer-logo > img {
                    width: 86.92px;
                }
            }
            .footer-separator {
                margin: 1.5rem 0;
            }
        }
    }
}