.layout-topbar {
    position: fixed;
    height: 80px;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    // max-width: 1280px;
    padding: 0rem;
    background-color: #333 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: left $transitionDuration;
    // border-bottom: 1px solid #707070;
    

    a:hover {
        cursor: pointer;
    }
    .topbar-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: auto;
        padding-left: 30px;

        .topbar-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 166px;
            &:focus {
                @include focused();
            }
        }
        .topbar-logo > img {
            width: 100%;
        }
    }

    .topbar-right {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        justify-content: flex-end;
        height: 100%;
        padding-right: 0px;

        .menu-open {
            display: none;
        }
        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 25px;
            
            .menu-label {
                display: none;
            }
            .menu-hamburger-wrapper {
                display: none;
            }
            .menu-items {
                display: flex;
                height: 100%;
                font-size: 20px;
                .menu-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 130px;
                    color: var(--text-color);
                    text-decoration: none;
                    transition: opacity 0.3s; 
                    &:hover {
                        text-decoration: none;
                        opacity: 0.3;
                    }
                }
            }
            
            .menu-hamburger-items {
                display: none;
                // font-size: 12px;
            }
        }
    }




}

@media (max-width: 650px) {
    .layout-topbar {
        height: 65px;
        .topbar-logo {
            height: 32px;
        }
        .topbar-left {
            width: 50% !important; 
            padding-left: 20px;
        }

        .topbar-right {    
            flex-direction: column;
            // align-items: end;
            // justify-content: end;
            width: 50% !important; 
            z-index: 100;
            .menu-open {
                width: 100%;
                background-color: #070707;
                border-bottom: 1px solid #707070;
                // box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6); 
                border-left: 1px solid #707070;
            }
            .menu {
                // .menu-label {
                //     display: none;
                // }
                .menu-label {
                    display: flex;
                    width: calc(100% - 70px);
                    padding-left: 2rem;
                    color:#FFFFFF;
                    font-weight: 700;
                    // font-size: 12px;
                    font-size: 16px;
                }
                .menu-items {
                    
                    display: none;
                }
                .menu-hamburger-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 70px;
                    height: 100%;
                    font-size: 12px;
                    .menu-hamburger {
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        transition: opacity 0.3s; 
                        svg {
                            fill: white;
                        }
                        span {
                            color: white;
                            svg {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 0.5rem;
                            }
                        }
                        &:hover {
                            text-decoration: none;
                            opacity: 0.3;
                        }
                    }
                }
                .menu-hamburger-items {
                    display: block;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    font-size: 20px;
                    width: 50%;
                    // height: 240px;
                    background-color: #070707;
                    color: #FFFFFF;
                    // box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.6);
                    border-left: 1px solid #707070;
                    border-bottom: 1px solid #707070;
                    
                    // font-size: 12px;
                    .menu-hamburger-item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        // height: 80px;
                        display: block;
                        padding: 1.8rem;
                        text-decoration: none;
                        transition: opacity 0.3s; 
                        text-align: left;
                        color: #FFFFFF;
                        &:hover {
                            text-decoration: none;
                            opacity: 0.3;
                        }
                    }
                }
            }
        }
    }
}